# ===============================
# Ambiente
# ===============================

NODE_ENV=production

# ===============================
# Tibia
# ===============================

WORLD_NAME=Ourobra

# ===============================
# Mongo
# ===============================

MONGO_URI=mongodb://127.0.0.1:27017/bot

# ===============================
# TeamSpeak Server
# ===============================

TS3_HOST=127.0.0.1
TS3_SERVER_PORT=9987

# ===============================
# TeamSpeak ServerQuery
# ===============================

TS3_QUERY_HOST=127.0.0.1
TS3_QUERY_PORT=10011
TS3_QUERY_USER=serveradmin
TS3_QUERY_PASSWORD=COLOQUE_A_SENHA_AQUI

# ===============================
# Twitch
# ===============================

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_CHANNELS=
TWITCH_CHECK_INTERVAL_MINUTES=2

# ===============================
# Guild Auto Sync
# ===============================

GUILD_AUTO_SYNC_NAME=
GUILD_AUTO_SYNC_INTERVAL_MINUTES=30
